<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Admin : Add</title>
	<link rel="stylesheet" href="" th:href="@{/css/Add_Admin.css}" />
</head>

<body>
	<a href="/admin/services">Back to Services</a>
	<div class="addAdmin">
		<h2>ADD NEW <span style="color:green;">ADMIN</span></h2>
		<form action="" th:action="@{/addingAdmin}" method="post">
			<label> <span>Admin_Name :</span></label>
			<input type="text" name="adminName" placeholder="Enter name" class="adminform" minlength="2" required>
			<br />

			<label><span>Admin_Email : </span> </label>
			<input type="email" name="adminEmail" placeholder="Enter email" class="adminform" required><br />


			<label><span> Admin_Number :</span>  </label>
			<input type="tel" name="adminNumber" placeholder="Enter 10 digit mobile number" class="adminform"
				pattern="[0-9]{10}" required /><br />


			<input type="hidden" name="adminPassword" value="1234" />
			<button type="submit">Add_Admin</button>
		</form>
	</div>
</body>

</html>